@charset "utf-8";
/*
 * CSS Document
 * ==========================================================================
 * 版權所有 2019 鉅潞科技網頁設計公司，並保留所有權利。
 * 網站地址: http://www.grnet.com.tw
 * ==========================================================================
 * $Author: dora $
 * $Date: 2019-04-02 Tue. $
*/

/*===== Global Style =====*/
/** { -webkit-backface-visibility: hidden; }*/
body { font-size: 17px; font-family: 'Arial', 'Microsoft JhengHei', '微軟正黑體' Sans-serif; color: #333; line-height: 30px;}
img { border: 0; vertical-align: bottom; }
a, a:visited, a:hover, a:focus, a:active { text-decoration: none; }
:focus, :active { outline: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
p { line-height: inherit; }
label { font-weight: inherit; }
input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  *font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
}
textarea { resize: vertical; }
ol.reset, ul.reset, li.reset { margin: 0; padding: 0; list-style: none; }
section, article, aside, footer, header, nav, main {
  display:block;
}

/*===== 滾動效果 =====*/
.scroll-fade {
  opacity: 0;
  -moz-transition: opacity 1s, -moz-transform 1s;
  -o-transition: opacity 1s, -o-transform 1s;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
}
.scroll-fade.scroll-view {
  opacity: 1;
}
.scroll-fade-down {
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  opacity: 0;
  -moz-transition: opacity 1s, -moz-transform 1s;
  -o-transition: opacity 1s, -o-transform 1s;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
}
.scroll-fade-down.scroll-view {
  opacity: 1;
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.scroll-fade-up {
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
  -moz-transition: opacity 1s, -moz-transform 1s;
  -o-transition: opacity 1s, -o-transform 1s;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
}
.scroll-fade-up.scroll-view {
  opacity: 1;
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.scroll-fade-left {
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  opacity: 0;
  -moz-transition: opacity 1s, -moz-transform 1s;
  -o-transition: opacity 1s, -o-transform 1s;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
}
.scroll-fade-left.scroll-view {
  opacity: 1;
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.scroll-fade-right {
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
  opacity: 0;
  -moz-transition: opacity 1s, -moz-transform 1s;
  -o-transition: opacity 1s, -o-transform 1s;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
}
.scroll-fade-right.scroll-view {
  opacity: 1;
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

/*===== 共用 =====*/
.g-wrap {
  margin: 130px auto 50px;
  max-width: 1600px;
  padding: 0 15px;
  overflow: hidden;
}
.main-cont {
  width: 64%;
  float: right;
}
@media (max-width: 992px) {
  .g-wrap {
    margin: 120px auto 50px;
  }
  .main-cont {
    width: 100%;
    float: none;
  }
}
@media (max-width: 768px) {
  .g-wrap {
    margin: 90px auto 50px;
  }
}

.section {
  margin-bottom: 50px;
}
.section .tibox {
  font-size: 24px;
  color: #1a2938;
  margin-bottom: 10px;
}
.section:last-child {
  margin-bottom: 0;
}
ul.desc {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.desc li {
  margin: 0;
  padding: 0 0 0 24px;
  position: relative;
}
ul.desc li:before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #626262;
}
ul.desc li a {
  color: #333;
  vertical-align: top;
}
ul.desc li a:after {
  content: '';
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url(../images/i_pdf.png) 0 0 no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: 10px;
}
ul.desc li a:hover {
  text-decoration: underline;
  color: #e41b36;
}

/*===== Header =====*/
#header {
  position: fixed;
  z-index: 99;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-top: 3px solid #e41b36;
  border-bottom: 1px solid #ddd;
  padding-top: 20px;
  -webkit-transition: top 0.4s ease-in-out;
  -moz-transition: top 0.4s ease-in-out;
  -ms-transition: top 0.4s ease-in-out;
  -o-transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;
}
#header .cont {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}
#header .logo {
  width: 275px;
  height: 50px;
  float: left;
  font-size: 0;
  margin: 5px 0 0;
}
#header .logo a {
  display: block;
  width: 275px;
  height: 50px;
  background: url(../images/logo.gif) 0 0 no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: top 0.4s ease-in-out;
  -moz-transition: top 0.4s ease-in-out;
  -ms-transition: top 0.4s ease-in-out;
  -o-transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;
}

#header .info {
  margin: 15px 30px 0 0;
  float: right;
}
#header .info a {
  display: inline-block;
}
#header .info i {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 6px;
}
#header .info.tel i {
  background: url(../images/i_info.png) 0 0 no-repeat #1a2938;
  -webkit-background-size: 64px 32px;
  -o-background-size: 64px 32px;
  background-size: 64px 32px;
}
#header .info.web i {
  background: url(../images/i_info.png) -32px 0 no-repeat #1a2938;
  -webkit-background-size: 64px 32px;
  -o-background-size: 64px 32px;
  background-size: 64px 32px;
}
#header .info span {
  height: 32px;
  overflow: hidden;
  display: inline-block;
  color: #1a2938;
  line-height: 32px;
}

#header .btn-back {
  float: right;
}
#header .btn-back a {
  display: block;
  position: relative;
  width: 160px;
  height: 60px;
  background-color: #f5821f;
  border-radius: 30px;
  color: #fff;
  line-height: 62px;
  padding-left: 52px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#header .btn-back a:before {
  content: '';
  display: block;
  position: absolute;
  top: 21px;
  left: 22px;
  width: 19px;
  height: 18px;
  background: url(../images/aw_left.png) 0 0 no-repeat;
  -webkit-background-size: 19px 18px;
  -o-background-size: 19px 18px;
  background-size: 19px 18px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#header .btn-back a:hover {
  background-color: #ff6000;
  letter-spacing: 1px;
}
#header .btn-back a:hover:before {
  left: 28px;
}
@media (max-width: 800px) {
  #header .info {
    margin: 15px 18px 0 0;
  }
  #header .btn-back a {
    width: 155px;
    padding-left: 50px;
  }
}
@media (max-width: 768px) {
  #header {
    height: 80px;
    padding-top: 15px;
  }
  #header .logo {
    width: 230px;
    height: 42px;
    margin: 5px 0 0;
  }
  #header .logo a {
    width: 230px;
    height: 42px;
  }
  #header .info {
    margin: 10px 20px 0 0;
  }
  #header .btn-back {
    float: right;
  }
  #header .btn-back a {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding-left: 0px;
    font-size: 0;
  }
  #header .btn-back a:before {
    top: 17px;
    left: 15px;
  }
  #header .btn-back a:hover:before {
    left: 15px;
  }
}
@media (max-width: 640px) {
  #header .info {
    margin: 5px 10px 0 0;
  }
  #header .info span {
    display: none;
  }
  #header .info i {
    width: 40px;
    height: 40px;
  }
  #header .info.tel i {
    background: url(../images/i_info.png) 4px 4px no-repeat #1a2938;
    -webkit-background-size: 64px 32px;
    -o-background-size: 64px 32px;
    background-size: 64px 32px;
    margin-right: 0px;
  }
  #header .info.web i {
    background: url(../images/i_info.png) -28px 4px no-repeat #1a2938;
    -webkit-background-size: 64px 32px;
    -o-background-size: 64px 32px;
    background-size: 64px 32px;
  }
}
@media (max-width: 430px) {
  #header .logo {
    width: 200px;
    height: 37px;
    margin: 8px 0 0;
  }
  #header .logo a {
    width: 200px;
    height: 37px;
  }
}

/*===== footer =====*/
#footer {
  clear: both;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  line-height: 22px;
  font-size: 15px;
  color: #666;
  padding: 16px 15px;
}

/*===== banner =====*/
.banner {
  width: 29%;
  float: left;
  position: relative;
}
.banner:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  top: 5%;
  bottom: 5%;
  right: -20px;
  width: 20px;
  background-color: #e51737;
}
.banner img {
  position: relative;
  z-index: 10;
  max-width: 100%;
  height: auto;
}
.banner .lg {
  display: block;
}
.banner .mb {
  display: none;
}
@media (max-width: 992px) {
  .banner {
    width: 100%;
    float: none;
    margin-bottom: 30px;
    position: relative;
  }
  .banner:after {
    display: none;
  }
  .banner .lg {
    display: none;
  }
  .banner .mb {
    display: block;
  }
}

/*===== index =====*/
#index .section {
  margin-top: 30px;
}
#index .section .tibox {
  font-size: 30px;
  color: #e41b36;
  margin-bottom: 15px;
}
.group {
  width: 100%;
  margin: 20px auto 0;
}
.group .box {
  width: calc(97% / 4);
  padding: 0 4px;
  display: inline-block;
}
.group .box a {
  display: block;
  width: 100%;
  border-radius: 50%;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.group .box a:after {
  content: '';
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  margin-top: -45%;
  margin-left: -45%;
  background-color: rgba(255,2552,255,0);
  -webkit-transform: scale(.5);
  transform: scale(.5);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.group .box a:hover:after {
  background-color: rgba(255,2552,255,0.2);
  -webkit-transform: scale(.9);
  transform: scale(.9);
}
.group .box.listen a {
  background-color: #f7941d;
}
.group .box.read a {
  background-color: #a0cd47;
}
.group .box.write a {
  background-color: #0fafb2;
}
.group .box.speak a {
  background-color: #bd60a5;
}
.group .box a img {
  display: block;
  max-width: 100%;
  height: auto;
}
.group .box a span {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 22px;
  position: absolute;
  top: 65%;
  left: 0;
  vertical-align: top;
}
.group .box a span i {
  display: inline-block;
  width: 18px;
  height: 17px;
  background: url(../images/aw_left.png) 0 0 no-repeat;
  position: relative;
  top: 2px;
  -webkit-background-size: 18px 17px;
  -o-background-size: 18px 17px;
  background-size: 18px 17px;
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .group .box a span {
    font-size: 18px;
  }
}
@media (max-width: 640px) {
  .group {
    width: 90%;
  }
  .group .box {
    width: calc(97% / 2);
    padding: 4px;
    display: inline-block;
  }
}
@media (max-width: 480px) {
  .group .box a span {
    font-size: 18px;
  }
}

/*===== page =====*/
.main-cont .tname {
  font-size: 40px;
  color: #000;
  font-weight: bold;
  position: relative;
  padding-left: 94px;
  margin: 0 0 30px;
  line-height: 84px;
}
.main-cont .tname:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 84px;
}
.main-cont .tname.listen:before {
  background: url(../images/i_listen.png) 0 0 no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main-cont .tname.read:before {
  background: url(../images/i_read.png) 0 0 no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main-cont .tname.write:before {
  background: url(../images/i_write.png) 0 0 no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main-cont .tname.speak:before {
  background: url(../images/i_speak.png) 0 0 no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*===== page-desc =====*/
.page-desc {
  padding: 20px 30px;
  border: 1px solid #f6e7e7;
  background-color: #fffafa;
  border-radius: 4px;
}
.page-desc p strong {
  color: #e41b36;
  display: block;
}
.page-desc p.mt20 {
  margin-top: 20px;
}


/*===== 下載條列樣式 =====*/
.mlist {
  clear: both;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
  overflow: hidden;
}
.mlist:hover {
  background-color: #fbfbfb;
}
.mlist .subject {
  width: calc(100% - 220px);
  float: left;
  padding: 4px 20px 0 24px;
  position: relative;
}
.mlist .subject:before {
  content: '';
  display: block;
  position: absolute;
  top: 14px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #626262;
}
.mlist .btn-all {
  width: 215px;
  float: right;
}
.mlist .btn-all a {
  height: 40px;
  border-radius: 20px;
  border: 1px solid #e51737;
  font-size: 14px;
  color: #333;
  line-height: 40px;
  padding: 0 20px 0 45px;
  position: relative;
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.mlist .btn-all a.mp3,
.mlist .btn-all a.answer,
.mlist .btn-all a.transcript {
  float: right;
  background-color: #e51737;
  color: #fff;
}
.mlist .btn-all a:before {
  content: '';
  display: block;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 6px;
  left: 14px;
}
.mlist .btn-all a.pdf:before {
  background: url(../images/i_pdf.png) 0 0 no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.mlist .btn-all a.mp3:before {
  background: url(../images/i_mp3.png) 0 0 no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.mlist .btn-all a.answer:before {
  background: url(../images/i_answer.png) 0 0 no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.mlist .btn-all a.transcript:before {
  background: url(../images/i_transcript.png) 0 0 no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mlist .btn-all a.pdf:hover {
  border: 1px solid #f34863;
  background-color: #ffdbe1;
}
.mlist .btn-all a.mp3:hover,
.mlist .btn-all a.answer:hover,
.mlist .btn-all a.transcript:hover {
  border: 1px solid #b0001b;
  background-color: #b0001b;
}
@media (max-width: 480px) {
  .mlist .subject {
    width: 100%;
    float: none;
    padding: 4px 0 4px 24px;
  }
  .mlist .btn-all {
    width: 90%;
    margin: 0 auto;
    float: none;
  }
  .mlist .btn-all a {
    width: 47%;
    padding: 0 20px 0 23%;
  }
  .mlist .btn-all a:before {
    left: 26%;
  }
  .mlist .btn-all a.pdf {
    margin-right: 14px;
  }
  .mlist .btn-all a.mp3 {
    float: left;
  }
}
/*===== complex *3 =====*/
.complex .mlist .subject {
  width: calc(100% - 380px);
}
.complex .mlist .btn-all {
  width: 360px;
}
.complex .mlist .btn-all a.mp3 {
  float: left;
  margin-left: 8px;
}
@media (max-width: 480px) {
  .complex .mlist .subject {
    width: 100%;
  }
  .complex .mlist .btn-all {
    width: 90%;
  }
  .complex .mlist .btn-all a {
    width: 29%;
    padding: 0 0px 0 13%;
  }
  .complex .mlist .btn-all a:before {
    left: 10px;
  }
  .complex .mlist .btn-all a.pdf {
    margin-right: 7px;
  }
  .complex .mlist .btn-all a.mp3 {
    margin-left: 0;
  }
  .complex .mlist .btn-all a.answer {
    width: 38%;
    padding: 0 0px 0 13%;
  }
  .complex .mlist .btn-all a.transcript {
    width: 38%;
    padding: 0 0px 0 10%;
  }
}

/*===== reading =====*/
#reading .mlist .subject {
  width: calc(100% - 300px);
}
#reading .mlist .btn-all {
  width: 250px;
}
@media (max-width: 480px) {
  #reading .mlist .subject {
    width: 100%;
  }
  #reading .mlist .btn-all {
    width: 90%;
  }
  #reading .mlist .btn-all a.answer:before {
    left: 15%;
  }
  #reading .mlist .btn-all a.answer {
    padding: 0 20px 0 18%;
  }
}

/*===== speaking =====*/
#speaking .complex .mlist .subject {
  width: calc(100% - 400px);
}
#speaking .complex .mlist .btn-all {
  width: 375px;
}
@media (max-width: 480px) {
  #speaking .complex .mlist .subject {
    width: 100%;
  }
  #speaking .complex .mlist .btn-all {
    width: 90%;
  }
}

/*===== writing =====*/
#writing .mlist .btn-all {
  width: auto;
}

